<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p> Count of Total Products: </p>
<%= @product_count %>
<p> Count of Total Categories: </p>
<%= @category_count %>