<header>
  <h1>All Categories</h1>
</header>

<div>
  <%= link_to '+ New Category', [:new, :admin, :category] %>
</div>


<table>
  <thead>
    <tr>
      <th>ID</th>
        <th>Name</th>
    </tr>
  </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
</table>